/**
 * ---------------------------------------------------------------------------------
 * Testimonials
 * ---------------------------------------------------------------------------------
 */
.testimonial-heading {
  position: absolute;
  top: 8%;
  left: 0;
  right: 0;
  margin: 0 auto;
  color: #fff;
  z-index: 1001;
}

#testimonial-slider {
  background: $color-border url('../images/testimonial-bg.jpg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: repeat-x;

  min-height: 600px;
  width: 100%;

  .slide-testimonial {
    padding-top: $baseline*8;
    width: 100%;

    img {
      border-radius: 50%;
      margin-bottom: $baseline;
    }
  }
}