/**
 * ---------------------------------------------------------------------------------
 * Variables
 * ---------------------------------------------------------------------------------
 */

/* Typography Variables */
$body-font-size:  1rem;
$baseline: $body-font-size * 1.5;
$theme-margin: $body-font-size * 3;

$home-slider-font: 'Abril Fatface', cursive;
$heading-font: 'Roboto Condensed', 'Halvetica Neue', Helvetica, Arial, sans-serif;
$body-font: 'Roboto', 'Halvetica Neue', Helvetica, Arial, sans-serif;

/* Color */
$color-link: #1ea076;
$color-text: #444444;
$color-button: #1ea076;
$color-border: #989898;

$color-support: #8c82db;
$color-download: #f2836b;

